<h2 style="margin-top: 0px">{{image}}:{{tag}}</h2>
<clr-tabs>
    <clr-tab>
        <button clrTabLink>Overview</button>
        <clr-tab-content>
            <div class="clr-row" style="margin-top: 20px">
                <div class="clr-col-6">
                    <div>
                        <div><span class="p2">Image</span></div>
                        <div style="padding-bottom: 0.5rem">{{image}}</div>
                        <div><span class="p2">Tag</span></div>
                        <div style="padding-bottom: 0.5rem">{{tag}}</div>
                        <div><span class="p2">Size</span></div>
                        <div style="padding-bottom: 0.5rem">{{size | bytes}}</div>
                        <div><span class="p2">Pushed</span></div>
                        <div style="padding-bottom: 0.5rem">{{pushed | date:'medium'}}</div>
                        <div><span class="p2">Stack</span></div>
                        <div style="padding-bottom: 0.5rem">{{stack}}</div>
                    </div>
                </div>
                <div class="clr-col-6">
                    <div><span class="p2">Buildpacks</span></div>
                    <div style="padding-bottom: 0.5rem">
                        <ul class="list">
                            <li *ngFor="let buildpack of buildpacks">{{buildpack.id}} {{buildpack.version}}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>BOM</button>
        <clr-tab-content>
            <p>
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
                <clr-icon shape="info-circle" size="24"></clr-icon>
                <span class="tooltip-content">Bill of Materials specifies everything that was packaged in to
                    the
                    image by buildpacks</span>
            </a></p>
        <p>
            <clr-accordion>
                <clr-accordion-panel *ngFor="let package of bom">
                    <clr-accordion-title>{{package.name}} {{package.version}}</clr-accordion-title>
                    <clr-accordion-content *clrIfExpanded>
                        <div class="bom-content">
                            <div class="clr-row">
                                <div class="clr-col-6">
                                    <div><span class="p2">Name</span></div>
                                    <div style="padding-bottom: 0.5rem">{{package.metadata.name}}</div>
                                    <div><span class="p2">Version</span></div>
                                    <div style="padding-bottom: 0.5rem">{{package.version}}</div>
                                    <div><span class="p2">Buildpack</span></div>
                                    <div style="padding-bottom: 0.5rem">{{package.buildpack.id}}
                                        {{package.buildpack.version}}</div>
                                    <ng-container *ngIf='package.metadata.licenses.length > 0'>
                                    <div><span class="p2">Licenses</span></div>
                                    <div>
                                        <ul class="list">
                                            <li *ngFor="let license of package.metadata.licenses">{{license.type}}</li>
                                        </ul>
                                    </div>
                                    </ng-container>
                                </div>
                                <div class="clr-col-6">
                                    <span class="p2">Dependencies</span>

                                    <table class="table" style="margin-top: 0.2rem">
                                        <thead>
                                            <tr>
                                                <th class="left">Name</th>
                                                <th class="left">Version</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dependency of package.metadata.dependencies">
                                                <td class="left">{{dependency.name}}</td>
                                                <td class="left">{{dependency.version}}</td>
                                            </tr>
                                            <tr *ngIf='!package.metadata.dependencies'>
                                                <td colspan="2">None</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </clr-accordion-content>
                </clr-accordion-panel>
            </clr-accordion>
        </p>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Diff</button>
        <clr-tab-content>
            <div style="margin-top: 20px">
                <clr-dropdown>
                    <button class="btn btn-outline-primary" clrDropdownTrigger>
                        Compare To
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu>
                        <div *ngFor="let tag of tags" clrDropdownItem (click)="onClickMe(tag.name)">{{tag.name}}</div>
                    </clr-dropdown-menu>
                </clr-dropdown>
                <div class="content-container" *ngIf="diffModel && diffModel.length > 0">
                    <table class="table table-vertical">
                        <tbody>
                            <tr>
                                <th class="left" width="30%">&nbsp;</th>
                                <th class="left" width="30%">{{tag}}</th>
                                <th class="left" width="30%">{{diffTag}}</th>
                            </tr>
                            <ng-container *ngFor="let item of diffModel">
                            <tr>
                                <td colspan="3" [className]="item.isDeleted ? 'removed-item' : 'bleh'">{{item.name}}</td>
                            </tr>
                            <tr *ngFor="let change of item.changes" [className]="item.isNew ? 'new-item' : 'existing-item'">
                                <td style="font-weight: normal">{{change.name}}</td>
                                <td class="content">{{change.old}}</td>
                                <td class="content">{{change.new}}</td>
                            </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>