tr.new-item td.content {
    background-color: #c9f3c9;
}

tr.existing-item td.content {
    background-color: #f3ecc9;
}

td.removed-item {
    background-color: #f9cccc !important;
}

div.bom-content {
    margin-top: 10px;
    margin-bottom: 10px;
}