<div class="main-container">
    <div class="content-container">
        <clr-vertical-nav>
            <label class="nav-header">Recent Tags</label>
            <a *ngFor="let tag of tags" [routerLink]="[tag.name]" [state]="{image: this.name}" clrVerticalNavLink>{{tag.name}}</a>
            <div class="nav-divider"></div>
            <a clrVerticalNavLink routerLink="/home" routerLinkActive="active"><span>&#171;</span> Back</a>
        </clr-vertical-nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>